<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="true" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>

    <!--<add key="Title" value="Chola Wealth Direct" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="CommonDB" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=CommonDB" />
    <add key="IndiaSector" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=IndiaSector" />
    <add key="klsehist" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=klsehist" />
    <add key="nsedb" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=nsedb" />
    <add key="Commodity" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=indiasector" />
    <add key="Mutual" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=mutual" />
    <add key="Misc" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=miscclient" />
    <add key="Article" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=Articles" />
    <add key="IPO" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=IpoData" />
    <add key="ClineOle" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=clineole" />
    <add key="Bulletin" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=bulletin" />
    <add key="result" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=result" />
    <add key="webnews" value="data source=192.168.5.165;user id =cmuser1;password=cm$cap08;database=webnews" />
    <add key="bsedata" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=bsedata" />
    <add key="Insurance" value="data source=192.168.5.165;user id=cmuser1;password=cm$cap08;database=Insurance;" />
    <add key="Choladbs" value="data source=192.168.5.165;user id=choladbs;password=choladbs;database=choladbs;" />-->

    <add key="Title" value="Chola Securities" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="IndiaSector" value="data source=SoftSQL;user id=sa;password=capmark@09;database=IndiaSector" />
    <add key="CommonDB" value="data source=SoftSQL;user id=sa;password=capmark@09;database=CommonDB" />
    <add key="klsehist" value="data source=SoftSQL;user id=sa;password=capmark@09;database=klsehist" />
    <add key="nsedb" value="data source=SoftSQL;user id=sa;password=capmark@09;database=nsedb" />
    <add key="Commodity" value="data source=SoftSQL;user id=sa;password=capmark@09;database=indiasector" />
    <add key="Mutual" value="data source=SoftSQL;user id=sa;password=capmark@09;database=mutual" />
    <add key="Misc" value="data source=SoftSQL;user id=sa;password=capmark@09;database=miscclient" />
    <add key="Article" value="data source=SoftSQL;user id=sa;password=capmark@09;database=Articles" />
    <add key="IPO" value="data source=SoftSQL;user id=sa;password=capmark@09;database=IpoData" />
    <add key="ClineOle" value="data source=SoftSQL;user id=sa;password=capmark@09;database=clineole" />
    <add key="Bulletin" value="data source=SoftSQL;user id=sa;password=capmark@09;database=bulletin" />
    <add key="result" value="data source=SoftSQL;user id=sa;password=capmark@09;database=result" />
    <add key="webnews" value="data source=SoftSQL;user id =sa;password=capmark@09;database=webnews" />
    <add key="bsedata" value="data source=SoftSQL;user id=sa;password=capmark@09;database=bsedata" />
    <add key="Insurance" value="data source=SoftSQL;user id=sa;password=capmark@09;database=Insurance;" />
    <add key="Choladbs" value="data source=SoftSQL;user id=sa;password=capmark@09;database=Choladbs" />


    <add key="SecurityKey" value="cholawealthdirec" />
  </appSettings>
  <connectionStrings>
    <add name="Title" connectionString="Chola Securities" />

    <!--<add name="CommonDB" connectionString="Data Source=192.168.5.165;Initial Catalog=CommonDB;Connect TimeOut=60; Max Pool Size=10000 ;user id=cmuser1;password=cm$cap08" providerName="System.Data.SqlClient" />
    <add name="Indiasector" connectionString="Data Source=192.168.5.165;Initial Catalog=Indiasector;Connect TimeOut=60; Max Pool Size=10000 ;user id=cmuser1;password=cm$cap08" providerName="System.Data.SqlClient" />
    <add name="Bulletin" connectionString="Data Source=192.168.5.165;Initial Catalog=Bulletin;Connect TimeOut=60; Max Pool Size=10000 ;user id=cmuser1;password=cm$cap08" providerName="System.Data.SqlClient" />
    <add name="NseDB" connectionString="Data Source=192.168.5.165;Initial Catalog=NseDB;Connect TimeOut=60; Max Pool Size=10000 ;user id=cmuser1;password=cm$cap08" providerName="System.Data.SqlClient" />
    <add name="Klsehist" connectionString="Data Source=192.168.5.165;Initial Catalog=Klsehist;Connect TimeOut=60; Max Pool Size=10000 ;user id=cmuser1;password=cm$cap08" providerName="System.Data.SqlClient" />
    <add name="Article" connectionString="Data Source=192.168.5.165;Initial Catalog=Articles;Connect TimeOut=60; Max Pool Size=10000 ;user id=cmuser1;password=cm$cap08" providerName="System.Data.SqlClient" />
    <add name="ClineOle" connectionString="Data Source=192.168.5.165;Initial Catalog=ClineOle;Connect TimeOut=60; Max Pool Size=10000 ;user id=cmuser1;password=cm$cap08" providerName="System.Data.SqlClient" />
    <add name="Commodity" connectionString="Data Source=192.168.5.165;Initial Catalog=indiasector;Connect TimeOut=60; Max Pool Size=10000;user id=cmuser1;password=cm$cap08" providerName="System.Data.SqlClient" />
    <add name="Mutual" connectionString="Data Source=192.168.5.165;Initial Catalog=mutual;Connect TimeOut=60; Max Pool Size=10000;user id=cmuser1;password=cm$cap08" providerName="System.Data.SqlClient" />
    <add name="IPO" connectionString="Data Source=192.168.5.165;Initial Catalog=IpoData;Connect TimeOut=60; Max Pool Size=10000 ;user id=cmuser1;password=cm$cap08" providerName="System.Data.SqlClient" />
    <add name="Insurance" connectionString="Data Source=192.168.5.165;Initial Catalog=Insurance;Connect TimeOut=60; Max Pool Size=10000 ;user id=cmuser1;password=cm$cap08" providerName="System.Data.SqlClient" />
    <add name="webnews" connectionString="Data Source=192.168.5.165;Initial Catalog=webnews;Connect TimeOut=60; Max Pool Size=10000 ;user id=cmuser1;password=cm$cap08" providerName="System.Data.SqlClient" />
    <add name="result" connectionString="Data Source=192.168.5.165;Initial Catalog=result;Connect TimeOut=60; Max Pool Size=10000 ;user id=cmuser1;password=cm$cap08" providerName="System.Data.SqlClient" />
    <add name="Choladbs" connectionString="Data Source=192.168.5.165;Initial Catalog=Choladbs;Connect TimeOut=60; Max Pool Size=10000 ;user id=choladbs;password=choladbs" providerName="System.Data.SqlClient" />-->

    <add name="CommonDB" connectionString="Data Source=SoftSQL;Initial Catalog=CommonDB;Connect TimeOut=60; Max Pool Size=10000 ;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <add name="Indiasector" connectionString="Data Source=SoftSQL;Initial Catalog=Indiasector;Connect TimeOut=60; Max Pool Size=10000 ;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <add name="Bulletin" connectionString="Data Source=SoftSQL;Initial Catalog=Bulletin;Connect TimeOut=60; Max Pool Size=10000 ;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <add name="NseDB" connectionString="Data Source=SoftSQL;Initial Catalog=NseDB;Connect TimeOut=60; Max Pool Size=10000 ;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <add name="Klsehist" connectionString="Data Source=SoftSQL;Initial Catalog=Klsehist;Connect TimeOut=60; Max Pool Size=10000 ;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <add name="Article" connectionString="Data Source=SoftSQL;Initial Catalog=Articles;Connect TimeOut=60; Max Pool Size=10000 ;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <add name="ClineOle" connectionString="Data Source=SoftSQL;Initial Catalog=ClineOle;Connect TimeOut=120; Max Pool Size=10000 ;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <add name="Commodity" connectionString="Data Source=SoftSQL;Initial Catalog=indiasector;Connect TimeOut=60; Max Pool Size=10000;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <add name="Mutual" connectionString="Data Source=SoftSQL;Initial Catalog=mutual;Connect TimeOut=60; Max Pool Size=10000;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <add name="IPO" connectionString="Data Source=SoftSQL;Initial Catalog=IpoData;Connect TimeOut=60; Max Pool Size=10000 ;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <add name="Insurance" connectionString="Data Source=SoftSQL;Initial Catalog=Insurance;Connect TimeOut=60; Max Pool Size=10000 ;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <add name="webnews" connectionString="Data Source=SoftSQL;Initial Catalog=webnews;Connect TimeOut=60; Max Pool Size=10000 ;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <add name="result" connectionString="Data Source=SoftSQL;Initial Catalog=result;Connect TimeOut=60; Max Pool Size=10000 ;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <add name="Choladbs" connectionString="Data Source=SoftSQL;Initial Catalog=Choladbs;Connect TimeOut=60; Max Pool Size=10000 ;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />
    <!--<add name="cholaPortfolio" connectionString="Data Source=SoftSQL;Initial Catalog=cholawms_live;Connect TimeOut=120; Max Pool Size=10000 ;user id=sa;password=capmark@09" providerName="System.Data.SqlClient" />-->

  </connectionStrings>

  <rewriter>
    <unless url="([^\s]+(?=\.(pps|doc|jpg|swf|gif|png|txt|config|pdf|xls|zip|xml|dll|axd|ashx|js|css|aspx|asp|cs|htm|eot|ttf|ico))\.\2)">
      <!--rootpages-->
      <rewrite url="/default" to="/default.aspx" processing="stop" />
      <rewrite url="/media/" to="/media.aspx" processing="stop" />
      <rewrite url="/about-us" to="/About.aspx" processing="stop" />
      <rewrite url="/advisory-for-investors" to="/AdvisoryforInvestors.aspx" processing="stop" />
      <rewrite url="/calculators/sip-calculator" to="/calculators/calc.aspx?opt=sip-calculator" processing="stop" />
      <!--<rewrite url="/calculators/sip-calculator" to="/calculators/calc.aspx?opt=sip-calculator" processing="stop" />-->
      <rewrite url="/calculators/lumpsum-calculator" to="/calculators/calc.aspx?opt=lumpsum-calculator" processing="stop" />
      <rewrite url="/calculators/tax-calculator" to="/calculators/calc.aspx?opt=tax-calculator" processing="stop" />
      <rewrite url="/calculators/step-up-sip-calculator" to="/calculators/calc.aspx?opt=step-up-sip-calculator" processing="stop" />
      <rewrite url="/calculators/swp-calculator" to="/calculators/calc.aspx?opt=swp-calculator" processing="stop" />
      <rewrite url="/calculators/retirement-calculator" to="/calculators/calc.aspx?opt=retirement-calculator" processing="stop" />
      <rewrite url="/calculators/inflation-calculator" to="/calculators/calc.aspx?opt=inflation-calculator" processing="stop" />
     <rewrite url="/calculators" to="/Calculators.aspx" processing="stop" />
      <!--<rewrite url="/calculators/([^/]+)?$" to="/calculators/calc.aspx?opt=$1" processing="stop" />-->
      
      <rewrite url="/careers" to="/Careers.aspx" processing="stop" />
      <rewrite url="/careerdetails" to="/careerdetails.aspx" processing="stop" />
      <rewrite url="/contact-us" to="/Contactus.aspx" processing="stop" />
      <rewrite url="/disclaimer" to="/disclaimer.aspx" processing="stop" />
      <rewrite url="/downloads" to="/Downloads.aspx" processing="stop" />
      <rewrite url="/Faq" to="/Faq.aspx" processing="stop" />
      <rewrite url="/investor-awareness" to="/InvestorAwareness.aspx" processing="stop" />
      <rewrite url="/investor-charter" to="/InvestorCharter/InvestorCharter.aspx" processing="stop" />
      <rewrite url="/investor-awareness" to="/InvestorAwareness.aspx" processing="stop" />
      

      <rewrite url="/ipo/openissue" to="/IPOHome.aspx?opt=openissue" processing="stop" />
      <rewrite url="/partner-us" to="/PartnerUs.aspx" processing="stop" />
      <rewrite url="/products-services" to="/products-services.aspx" processing="stop" />
      <rewrite url="/products-offered" to="/ProductsOffered.aspx" processing="stop" />
      <rewrite url="/radar" to="/radar.aspx" processing="stop" />
      <rewrite url="/research" to="/research/research.aspx" processing="stop" />
      <rewrite url="/research/technical" to="/research/research.aspx?opt=technical" processing="stop" />
      <rewrite url="/research/positional" to="/research/research.aspx?opt=positional" processing="stop" />
      <rewrite url="/research/initiating" to="/research/research.aspx?opt=initiating" processing="stop" />
      <rewrite url="/site-links" to="/Site-Links.aspx" processing="stop" />
      <rewrite url="/sitemap" to="/Sitemap.aspx" processing="stop" />
      <rewrite url="/stockbasket" to="/stockbasket.aspx" processing="stop" />
      <rewrite url="/mutual-funds" to="/Mutualfund/MFHome.aspx" processing="stop" />
      <rewrite url="/policy" to="/policies.aspx" processing="stop" />
      <!--IPO-->
      <rewrite url="/ipo/([^/]+)/([0-9]+)/?$" to="/IPO/IPO-Synopsis.aspx?id=$1&amp;code=$2"  processing="stop" />
      <rewrite url="/ipo" to="/IPOHome.aspx" processing="stop" />


      <rewrite url="/ipo/basis-of-allotment" to="/ipohome.aspx" processing="stop" />
      <rewrite url="/basis-of-allotment" to="/ipo/BasisOfAllotment.aspx" processing="stop" />
      <rewrite url="/IPOs/([^/]+)/?$" to="/IPO/$1.aspx"  processing="stop" />
      <rewrite url="/IPO/IPO-Detailed-News/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$" to="/IPO/IPO-Detailed-News.aspx?Headtxt=$1&amp;Opt=$2&amp;SrNo=$3" processing="stop" />
      <rewrite url="/IPO/([^/]+)/([^/]+)/([0-9]+)/?$" to="/IPO/IPO-Synopsis.aspx?code=$1"  processing="stop" />
      <rewrite url="/IPO/([^/]+)/([0-9]+)/?$" to="/IPO/NewIssueDetails.aspx?sno=$2"  processing="stop" />
      <rewrite url="/IPO/([^/]+)/([^/]+)/?$" to="/IPO/$1.aspx?Exchg=$2" processing="stop"/>
      <rewrite url="/IPO/([^/]+)/([^/]+)?$" to="/IPO/$1.aspx?Exchg=$2" processing="stop"/>


      <!--Derivatives-->
      <rewrite url="/mutual-fund/mf-schemes/new-fund-Offer" to=" /Mutualfund/MFSchemes/New-Fund-Offer.aspx" processing="stop" />
      <rewrite url="/mutual-fund/mf-schemes/new-fund-Offer/Equity" to=" /Mutualfund/MFSchemes/New-Fund-Offer.aspx?cat=Equity" processing="stop" />

      <rewrite url="/derivatives/options/increase-in-oi/opt" to="/Derivatives/Options/Increase-in-OI.aspx?opt=OPT" processing="stop" />
      <rewrite url="/derivatives/options/increase-in-oi/optidx/nifty" to="/Derivatives/Options/Increase-in-OI.aspx?opt=OPTIDX|NIFTY" processing="stop" />
      <rewrite url="/derivatives/options/increase-in-oi/optidx/banknifty" to="/Derivatives/Options/Increase-in-OI.aspx?opt=OPTIDX|BANKNIFTY" processing="stop" />
      <rewrite url="/derivatives/options/increase-in-oi/optstk" to="/Derivatives/Options/Increase-in-OI.aspx?opt=OPTSTK" processing="stop" />
      <rewrite url="/derivatives/futures/increase-in-oi/futidx/nifty" to="/Derivatives/Futures/Increase-in-OI.aspx?opt=FUTIDX|NIFTY" processing="stop" />
      <rewrite url="/derivatives/futures/increase-in-oi/futidx/banknifty" to="/Derivatives/Futures/Increase-in-OI.aspx?opt=FUTIDX|BANKNIFTY" processing="stop" />
      <rewrite url="/derivatives/futures/increase-in-oi/futidx" to="/Derivatives/Futures/Increase-in-OI.aspx?opt=FUTSTK" processing="stop" />
      <rewrite url="/derivatives/futures/increase-in-oi/fut" to="/Derivatives/Futures/Iecrease-in-OI.aspx?opt=FUT" processing="stop" />

      <rewrite url="/derivatives/options/decrease-in-oi/" to="/Derivatives/Options/Decrease-in-OI.aspx?opt=" processing="stop" />
      <rewrite url="/derivatives/options/decrease-in-oi/optidx/nifty" to="/Derivatives/Options/Decrease-in-OI.aspx?opt=OPTIDX|NIFTY" processing="stop" />
      <rewrite url="/derivatives/options/decrease-in-oi/optidx/banknifty" to="/Derivatives/Options/Decrease-in-OI.aspx?opt=OPTIDX|BANKNIFTY" processing="stop" />
      <rewrite url="/derivatives/options/decrease-in-oi/optstk" to="/Derivatives/Options/Decrease-in-OI.aspx?opt=OPTSTK" processing="stop" />
      <rewrite url="/derivatives/futures/decrease-in-oi/futidx/nifty" to="/Derivatives/Futures/Decrease-in-OI.aspx?opt=FUTIDX|NIFTY" processing="stop" />
      <rewrite url="/derivatives/futures/decrease-in-oi/futidx/banknifty" to="/Derivatives/Futures/Decrease-in-OI.aspx?opt=FUTIDX|BANKNIFTY" processing="stop" />
      <rewrite url="/derivatives/futures/decrease-in-oi/futidx" to="/Derivatives/Futures/Decrease-in-OI.aspx?opt=FUTSTK" processing="stop" />
      <rewrite url="/derivatives/futures/decrease-in-oi/fut" to="/Derivatives/Futures/Decrease-in-OI.aspx?opt=FUT" processing="stop" />

      <rewrite url="/derivatives/([^/]+)/([^/]+)/([^/]+)?$" to="/derivatives/$1.aspx?opt=$2&amp;srno=$3" processing="stop"/>

      <rewrite url="/derivatives/([^/]+)/([^/]+)/([^/]+)?$" to="/derivatives/$1.aspx?Opt=$2&amp;SrNo=$3" processing="stop"/>
      <rewrite url="/derivatives/nifty-futures" to="/Derivatives/Nifty-Futures.aspx" processing="stop" />
      <rewrite url="/derivatives/get-quote" to="/Derivatives/Get-Quote.aspx" processing="stop" />
      <rewrite url="/derivatives/derivative-news" to="/Derivatives/Derivativenews" processing="stop" />
      <rewrite url="/derivatives/put-call-ratio" to="/Derivatives/Put-Call-Ratio.aspx" processing="stop" />
      <rewrite url="/derivatives/daily-settlement-price" to="/Derivatives/Daily-Settlement-Price" processing="stop" />
      <rewrite url="/derivatives/list-of-underlyings" to="/Derivatives/list-of-underlyings" processing="stop" />
      <rewrite url="/derivatives/derivative-summary" to="/Derivatives/Derivative-Summary" processing="stop" />
      <rewrite url="/derivatives/top-value-traded" to="/Derivatives/Top-Value-Traded" processing="stop" />
      <rewrite url="/derivatives/cost-carry" to="/derivatives/Cost-Carry" processing="stop" />
      <rewrite url="/derivatives/fii-statistics" to="/derivatives/FII-Statistics" processing="stop" />

      <rewrite url="/derivatives/futures/top-gainers" to="/Derivatives/Futures/Top-Gainers" processing="stop" />
      <rewrite url="/derivatives/futures/top-losers" to="/Derivatives/Futures/Top-Losers" processing="stop" />
      <rewrite url="/derivatives/futures/increase-in-oi" to="/Derivatives/Futures/Increase-in-OI" processing="stop" />
      <rewrite url="/derivatives/futures/decrease-in-oi" to="/Derivatives/Futures/Decrease-in-OI" processing="stop" />
      <rewrite url="/derivatives/Futures/highest-in-oi" to="/Derivatives/Futures/Highest-in-OI" processing="stop" />
      <rewrite url="/derivatives/futures/lowest-in-oi" to="/Derivatives/Futures/Lowest-in-OI" processing="stop" />
      <rewrite url="/derivatives/futures/all-index-future" to="/Derivatives/Futures/All-Index-Future" processing="stop" />
      <rewrite url="/derivatives/futures/most-active-contracts" to="/Derivatives/Futures/Most-Active-Contracts" processing="stop" />

      <rewrite url="/derivatives/options/top-gainers" to="/Derivatives/Options/Top-Gainers" processing="stop" />
      <rewrite url="/derivatives/options/top-losers" to="/Derivatives/Options/Top-Losers" processing="stop" />
      <rewrite url="/derivatives/options/increase-in-oi" to="/Derivatives/Options/Increase-in-OI" processing="stop" />
      <rewrite url="/derivatives/options/decrease-in-oi" to="/Derivatives/Options/Decrease-in-OI" processing="stop" />
      <rewrite url="/derivatives/options/highest-in-oi" to="/Derivatives/Options/Highest-in-OI" processing="stop" />
      <rewrite url="/derivatives/options/lowest-in-oi" to="/Derivatives/Options/Lowest-in-OI" processing="stop" />
      <rewrite url="/derivatives/options/most-active-call" to="/Derivatives/Options/Most-Active-Call" processing="stop" />
      <rewrite url="/derivatives/options/most-active-put" to="/Derivatives/Options/Most-Active-Put" processing="stop" />

      <!--corporateAction-->
      <rewrite url="/corporate-actions/nse-announcement" to="/CorporateActions/NSE-Announcement" processing="stop" />
      <rewrite url="/corporate-actions/board-meetings" to="/CorporateActions/BoardMeetings" processing="stop" />
      <rewrite url="/corporate-actions/bonus-issues" to="/CorporateActions/BonusIssues" processing="stop" />
      <rewrite url="/corporate-actions/book-closure" to="/CorporateActions/Book-Closure" processing="stop" />
      <rewrite url="/corporate-actions/bse-announcement" to="/CorporateActions/BSE-Announcement" processing="stop" />
      <rewrite url="/corporate-actions/change-of-name" to="/CorporateActions/Change-Of-Name" processing="stop" />
      <rewrite url="/corporate-actions/delisted-shares" to="/CorporateActions/DelistedShares" processing="stop" />
      <rewrite url="/corporate-actions/market-turnover" to="/CorporateActions/Market-Turnover" processing="stop" />
      <rewrite url="/corporate-actions/rights-issues" to="/CorporateActions/RightsIssues" processing="stop" />
      <rewrite url="/corporate-actions/split-of-face-value" to="/CorporateActions/Split-Of-Face-Value" processing="stop" />
      <rewrite url="/corporate-actions/corporate-announcements" to="/CorporateActions/CorporateAnnouncements" processing="stop" />
      <!--OtherMarket-->
      <rewrite url="/other-markets/adr-prices" to="/OtherMarkets/ADR-Prices" processing="stop" />
      <rewrite url="/other-markets/fii-investments" to="/OtherMarkets/FII-Investments" processing="stop" />
      <rewrite url="/other-markets/forex" to="/OtherMarkets/Forex" processing="stop" />
      <rewrite url="/other-markets/indian-indices" to="/OtherMarkets/Indian-Indices" processing="stop" />
      <rewrite url="/other-markets/mf-investments" to="/OtherMarkets/MF-Investments" processing="stop" />
      <rewrite url="/other-markets/world-indices" to="/OtherMarkets/World-Indices" processing="stop" />

      <rewrite url="/derivatives/fii-statistics" to="/derivatives/FII-Statistics.aspx" processing="stop" />
      <rewrite url="/markets/equities/([^/]+)/([^/]+)/([^/]+)/?$" to="/Market/$1.aspx?Pageopt=$2&amp;Exchange=$3" processing="stop"/>
      <rewrite url="/market/([^/]+)/([^/]+)/([^/]+)/?$" to="/Market/$1.aspx?Pageopt=$2&amp;Exchange=$3" processing="stop" />

      <rewrite url="/markets/equities/top-gainers-and-losers" to="/Market/GainersLosers.aspx" processing="stop"/>
      <rewrite url="/markets/equities/top-gainers" to="/Market/GainersLosers.aspx?PageOpt=G" processing="stop"/>
      <rewrite url="/markets/equities/top-losers" to="/Market/GainersLosers.aspx?PageOpt=L" processing="stop"/>
      <rewrite url="/markets/equities/top-losers" to="Market/GainersLosers.aspx?PageOpt=L" processing="stop"/>
      <rewrite url="/markets/overview" to="/MARKETLANDING/overview.aspx" processing="stop"/>
      <rewrite url="/markets/([^/]+)/([^/]+)/([^/]+)?$" to="/markets/$1.aspx?Exchg=$2&amp;PageOpt=$3" processing="stop"/>
      <rewrite url="/markets/([^/]+)?$" to="/markets/$1.aspx" processing="stop"/>
      <rewrite url="/market/mostactivetrendingstock/vol" to="/Market/GainersLosers.aspx?PageOpt=G" processing="stop" />
      <rewrite url="/market/mostactivetrendingstock/val" to="/Market/GainersLosers.aspx?PageOpt=L" processing="stop" />
      <rewrite url="/market/most-active-trending-stock/vol" to="/Market/MostActiveTrendingStock.aspx?PageOpt=VOL" processing="stop" />
      <rewrite url="/market/most-active-trending-stock/val" to="/Market/MostActiveTrendingStock.aspx?PageOpt=VAL" processing="stop" />
      <rewrite url="/market/live-indices" to="/Market/LiveIndices" processing="stop" />
      
      <rewrite url="/market/advances-and-declines" to="/Market/Advances-and-Declines" processing="stop" />
      <rewrite url="/market/index-movers" to="/Market/IndexMovers" processing="stop" />
      <rewrite url="/market/only-buyer-sellers" to="/Market/Only-Buyer-Sellers" processing="stop" />
      <rewrite url="/market/bulk-deal" to="/Market/BulkDeal" processing="stop" />
      <rewrite url="/market/block-deals" to="/Market/BlockDeals" processing="stop" />
      <rewrite url="/market/sector-watch" to="/Market/SectorWatch" processing="stop" />
      <rewrite url="/market/52-week-high" to="/Market/52WeekHighandLow.aspx?type=high" processing="stop" />
      <rewrite url="/market/52-week-low" to="/Market/52WeekHighandLow.aspx?type=low" processing="stop" />
      <rewrite url="/market/new-highs-and-lows" to="/Market/NewHighs-and-Lows" processing="stop" />
      <rewrite url="/market/exchange-holidays" to="/Market/ExchangeHolidays" processing="stop" />
      <rewrite url="/market/index-constituents" to="/market/IndexConstituents" processing="stop" />
      <rewrite url="/market/unusual-volume" to="/market/UnusualVolume" processing="stop" />
      <rewrite url="/market/out-under-performer" to="/market/OutUnderPerformer" processing="stop" />
      <rewrite url="/market/historical-returns" to="/market/HistoricalReturns" processing="stop" />
      <!-- News -->
      <rewrite url="/news/([^/]+)/?$" to="/News/News-List.aspx?NewsType=$1" processing="stop"/>
      <rewrite url="/news/([^/]+)/([^/]+)/([^/]+)?$" to="/News/Detailed-News.aspx?Headtxt=$2&amp;Opt=$1&amp;SrNo=$3&amp;" processing="stop" />
      <rewrite url="/news/([^/]+)/([^/]+)?$" to="/News/$1.aspx?schtxt=$2" processing="stop"/>

      <!--MutualFund -->

      <rewrite url="/mutualfund/mfupdates/([^/]+)?$" to="/MutualFund/MFUpdates/$1.aspx" processing="stop"/>
      <rewrite url="/mutualfund/mfschemes/([^/]+)?$" to="/MutualFund/MFSchemes/$1.aspx" processing="stop"/>
      <rewrite url="/mutualfund/([^/]+)?$" to="/MutualFund/Calculators/$1.aspx" processing="stop"/>
      <rewrite url="/mutualfund/mfschemes/fund-profile/([^/]+)?$" to="/MutualFund/MFSchemes/fund-profile.aspx?mfcocode=$1" processing="stop"/>
      <rewrite url="/mutualfund/mfschemes/schemeprofile/([0-9]+)/([^/]+)/?$" to="/MutualFund/MFSchemes/SchemeProfile.aspx?schcode=$1" processing="stop"/>
      <rewrite url="/mutualfund/mfschemes/schemeprofile/([0-9]+)/([^/]+)/?$" to="/MutualFund/MFSchemes/SchemeProfile.aspx?schcode=$1&amp;fund=$2" processing="stop"/>
      <rewrite url="/mutualfund/mfschemes/categoryreturnsdetails/([^/]+)/?$" to="/MutualFund/MFSchemes/CategoryReturnsDetails.aspx?cat=$1" processing="stop"/>
      <rewrite url="/mutualfund/mfschemes/new-fund-offer-details/([^/]+)/([^/]+)/?$" to="/MutualFund/MFSchemes/New-Fund-Offer-Details.aspx?schcode=$1" processing="stop"/>
      <rewrite url="/mutualfund/mfschemes/in-out/([^/]+)/([^/]+)/?$" to="/MutualFund/MFSchemes/In-Out.aspx?scheme=$1" processing="stop"/>
      <rewrite url="/mutualfund/mfupdates/mfdetailednews/([^/]+)/([^/]+)/?$" to="/MutualFund/MFUpdates/MFDetailedNews.aspx?Headtxt=$1&amp;SrNo=$2" processing="stop"/>
      <rewrite url="/mutualfund/mfupdates/fund-manager-interview/([^/]+)/([^/]+)/?$" to="/MutualFund/MFUpdates/Fund-Manager-Interview.aspx?Headtxt=$1&amp;SrNo=$2" processing="stop"/>
      <rewrite url="/mutualfund/mfschemes/schemeprofile" to="/mutualfund/mfschemes/schemeprofile.aspx" processing="stop"/>

      <rewrite url="/mutualfund/fund-ranking-calculator" to="/mutualfund/calculators/fund-ranking-calculator.aspx" processing="stop"/>
      <rewrite url="/mutualfund/return-calculator" to="/mutualfund/calculators/return-calculator.aspx" processing="stop"/>
      <rewrite url="/mutualfund/sip-calculator" to="/mutualfund/calculators/sip-calculator.aspx" processing="stop"/>
      <rewrite url="/mutualfund/knowledge-center/fund-profile" to="/mutualfund/knowledge-center/aboutmf.aspx" processing="stop"/>
      <rewrite url="/mutualfund/knowledge-center/scheme-profile" to="/mutualfund/knowledge-center/mf-faqs.aspx" processing="stop"/>
      <!--Corporate Information-->
      <rewrite url="/corporate-info/get-quotes" to="/CorporateInfo/Get-Quotes" processing="stop" />
      <rewrite url="/corporate-info/get-quote-details" to="/CorporateInfo/GetQUOTEDetails.aspx" processing="stop" />
      <rewrite url="/corporate-info/get-quotes/([^/]+)/?$" to="/CorporateInfo/Get-Quotes.aspx?id=$1" processing="stop"/>
      <rewrite url="/corporate-info/([^/]+)/?$" to="/CorporateInfo/$1" processing="stop"/>
      <rewrite url="/corporate-info/company-news-details/([^/]+)/([^/]+)/([^/]+)/?$" to="/CorporateInfo/Company-News-Details.aspx?Cname=$1&amp;SrNo=$2&amp;cocode=$3" processing="stop"/>
      <rewrite url="/corporate-info/get-quotes/([^/]+)/([^/]+)/?$" to="/CorporateInfo/Get-Quotes.aspx?PageName=$1&amp;id=$2" processing="stop"/>
      <rewrite url="/corporate-info/get-quotes/([^/]+)/([^/]+)/([^/]+)/?$" to="/CorporateInfo/Get-Quotes.aspx?PageName=$1&amp;compName=$2&amp;id=$3" processing="stop"/>
      <rewrite url="/corporate-info/Company-List/([^/]+)/([^/]+)/([^/]+)/?$" to="/CorporateInfo/Company-List.aspx?PageName=$1&amp;searchtext=$2&amp;id=$3" processing="stop"/>
      <rewrite url="/corporate-info/undefined/([^/]+)/([^/]+)/([^/]+)/?$" to="/CorporateInfo/Details-Quote.aspx?compName=$1&amp;cocode=$2&amp;id=$3" processing="stop"/>
      <rewrite url="/corporate-info/home-markets/([^/]+)/([^/]+)/([^/]+)/?$" to="/CorporateInfo/Details-Quote.aspx?compName=$1&amp;cocode=$2&amp;id=$3" processing="stop"/>
      <rewrite url="/corporate-info/([^/]+)/([^/]+)/([^/]+)/?$" to="/CorporateInfo/$1.aspx?compName=$2&amp;cocode=$3" processing="stop"/>
      <rewrite url="/corporate-info/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$" to="/CorporateInfo/$1.aspx?compName=$2&amp;cocode=$3&amp;id=$4" processing="stop"/>
      <rewrite url="/corporate-info/detailed-news/([^/]+)/([0-9]+)/([^/]+)/([0-9]+)/([^/]+)?$" to="/CorporateInfo/DetailedNews.aspx?newshead=$1&amp;Sr_No=$2&amp;compName=$3&amp;cocode=$4&amp;id=$5" processing="stop"/>
      <rewrite url="/corporate-info/([^/]+)/([^/]+)/?$" to="/CorporateInfo/$1.aspx?id=$2" processing="stop"/>

      <rewrite url="/alphadirectory/([^/]+)/([^/]+)/?$" to="/AlphaDirectory.aspx?opt=$1&amp;type=$2" processing="stop"/>

      <rewrite url="/products/([^/]+)?$" to="/Ouroffering.aspx/$1" processing="stop"/>
      <rewrite url="/login" to="https://trade.cholawealthdirect.com/Login.aspx" processing="stop"/>
      <rewrite url="/error" to="/error-page.aspx" processing="stop"/>
    </unless>
  </rewriter>
  <system.web>

    <!--<authentication mode="None" />-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableHeaderChecking="false"  enableVersionHeader="false"  requestPathInvalidCharacters=""/>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"   name="UrlRewriter" />
      <add type="ScriptCompressorModule" name="ScriptCompressorModule" />
    </httpModules>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD,POST" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <!--<add verb="GET,HEAD" path="ScriptResource.axd" type="DotM.Html5.Handlers.ScriptResourceHandler, DotM.Html5, Culture=neutral, PublicKeyToken=cf15bd0a8dbc673d, processorArchitecture=MSIL" validate="false" />-->
    </httpHandlers>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" preCondition="managedHandler" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    
    <httpProtocol>
      <customHeaders>
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="X-Powered-By" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <add name="Access-Control-Allow-Methods" value="GET, POST" />
        <add name="Content-Security-Policy" value="default-src: https:; frame-ancestors 'self' X-Frame-Options: SAMEORIGIN" />
        <add name="Strict-Transport-Security" value="max-age=63072000; includeSubDomains; preload" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
      </customHeaders>
    </httpProtocol>
    
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </handlers>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/error-page.aspx" responseMode="ExecuteURL" prefixLanguageFilePath="" />
      <remove statusCode="500" />
      <error statusCode="500" path="error-page.aspx" responseMode="ExecuteURL" prefixLanguageFilePath="" />
    </httpErrors>


    <rewrite>
      <rules>
       <!-- <rule name="RedirectToGoogle" stopProcessing="true">
          <match url="^login$" />
          <action type="Redirect" url="https://trade.cholawealthdirect.com/Login.aspx" />
        </rule>

        <rule name="download" patternSyntax="Wildcard">
          <match url="downloads" />
          <action type="Rewrite" url="/downloads.aspx" />
        </rule>
        <rule name="aboutus" patternSyntax="Wildcard">
          <match url="about-us" />
          <action type="Rewrite" url="/about.aspx" />
        </rule>

        <rule name="couroffering" patternSyntax="Wildcard">
          <match url="^products/*" />
          <action type="Rewrite" url="/ouroffering.aspx?opt={R:1}" />
        </rule>
        --><!--<rule name="ccont" patternSyntax="Wildcard">
          <match url="contact-us" />
          <action type="Rewrite" url="/contactus.aspx" />
        </rule>-->

       
        <!--<rule name="ipo" patternSyntax="Wildcard">
          <match url="ipo" />
          <action type="Rewrite" url="/ipohome.aspx" />
        </rule>--><!--
        <rule name="mediapage" patternSyntax="Wildcard">
          <match url="media" />
          <action type="Rewrite" url="/media.aspx" />
        </rule>
        <rule name="careerspage" patternSyntax="Wildcard">
          <match url="careers" />
          <action type="Rewrite" url="/careers.aspx" />
        </rule>

        <rule name="career-details" patternSyntax="Wildcard">
          <match url="careerdetails" />
          <action type="Rewrite" url="/careerdetails.aspx" />
        </rule>
        <rule name="disclaimerpage" patternSyntax="Wildcard">
          <match url="disclaimer" />
          <action type="Rewrite" url="/disclaimer.aspx" />
        </rule>
        <rule name="investor-" patternSyntax="Wildcard">
          <match url="investor-awareness" />
          <action type="Rewrite" url="/investorawareness.aspx" />
        </rule>
        <rule name="Faqpage" patternSyntax="Wildcard">
          <match url="Faq" />
          <action type="Rewrite" url="/Faq.aspx" />
        </rule>
        <rule name="advisoryforinvestors" patternSyntax="Wildcard">
          <match url="advisory-for-investors" />
          <action type="Rewrite" url="/advisoryforinvestors.aspx" />
        </rule>
        <rule name="privacy_policy" patternSyntax="Wildcard">
          <match url="privacy-policy" />
          <action type="Rewrite" url="/privacypolicy.aspx" />
        </rule>
        <rule name="productsservices" patternSyntax="Wildcard">
          <match url="products-services" />
          <action type="Rewrite" url="/products-services.aspx" />
        </rule>
        <rule name="partnerus" patternSyntax="Wildcard">
          <match url="partner-us" />
          <action type="Rewrite" url="/partnerus.aspx" />
        </rule>
        <rule name="investorcharter" patternSyntax="Wildcard">
          <match url="investor-charter" />
          <action type="Rewrite" url="/investorcharter/investorcharter.aspx" />
        </rule>
        <rule name="productsoffered" patternSyntax="Wildcard">
          <match url="products-offered" />
          <action type="Rewrite" url="/productsoffered.aspx" />
        </rule>
        <rule name="radars" patternSyntax="Wildcard">
          <match url="radar" />
          <action type="Rewrite" url="/radar.aspx" />
        </rule>
        <rule name="markover" patternSyntax="Wildcard">
          <match url="markets/overview" />
          <action type="Rewrite" url="/marketlanding/overview.aspx" />
        </rule>
        <rule name="cholaresearch" patternSyntax="Wildcard">
          <match url="research" />
          <action type="Rewrite" url="/research/research.aspx" />
        </rule>

        <rule name="research-tech" patternSyntax="Wildcard">
          <match url="research/technical" />
          <action type="Rewrite" url="/research/research.aspx?opt=technical" />
        </rule>

        <rule name="research-posi" patternSyntax="Wildcard">
          <match url="research/positional" />
          <action type="Rewrite" url="/research/research.aspx?opt=positional" />
        </rule>

        <rule name="research-init" patternSyntax="Wildcard">
          <match url="research/initiating" />
          <action type="Rewrite" url="/research/research.aspx?opt=initiating" />
        </rule>

        <rule name="sitelinks" patternSyntax="Wildcard">
          <match url="site-links" />
          <action type="Rewrite" url="/site-links.aspx" />
        </rule>
        <rule name="site-map" patternSyntax="Wildcard">
          <match url="sitemap" />
          <action type="Rewrite" url="/sitemap.aspx" />
        </rule>
        <rule name="stock-basket" patternSyntax="Wildcard">
          <match url="stockbasket" />
          <action type="Rewrite" url="/stockbasket.aspx" />
        </rule>
        <rule name="mutualfunds" patternSyntax="Wildcard">
          <match url="mutual-funds" />
          <action type="Rewrite" url="/mutualfund/MFHome.aspx" />
        </rule>


        <rule name="detailed-news" patternSyntax="Wildcard">
          <match url="news/*/*/*" />
          <action type="Rewrite" url="/News/Detailed-News.aspx?Opt={R:1}&amp;Headtxt={R:2}&amp;SrNo={R:3}" />
        </rule>
        <rule name="news-list" patternSyntax="Wildcard">
          <match url="news/*" />
          <action type="Rewrite" url="/News/News-List.aspx?NewsType={R:1}" />
        </rule>
        <rule name="othermarkets" patternSyntax="Wildcard">
          <match url="other-markets/*" />
          <action type="Rewrite" url="/OtherMarkets/{R:1}" />
        </rule>

      

        <rule name="cipo" patternSyntax="Wildcard">
          <match url="ipo" />
          <action type="Rewrite" url="/ipohome.aspx" />
        </rule>
        <rule name="cbasisipo" patternSyntax="Wildcard">
          <match url="ipo/basis-of-allotment" />
          <action type="Rewrite" url="/ipo/basisofallotment.aspx" />
        </rule>
        <rule name="csynopsisipo" patternSyntax="Wildcard">
          <match url="ipo/*/*" />
          <action type="Rewrite" url="/IPO/IPO-Synopsis.aspx?id={R:1}&amp;code={R:2}" />
        </rule>-->
        
      <!--<rewrite url="/markets/advance-decline-data/([^/]+)/([^/]+)/([^/]+)?$" to="/market/advance-decline-data.aspx?Exchange=$1&amp;Option=$2&amp;Group=$3" processing="stop"/>-->
      <rule name="cmarketadvdecdata" patternSyntax="Wildcard">
          <match url="markets/advance-decline-data/*/*/*" />
          <action type="Rewrite" url="/market/advance-decline-data.aspx?Exchange={R:1}&amp;Option={R:1}&amp;Group={R:1}" />
        </rule>
      </rules>
       
    </rewrite>



  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>